/\[STM32F103VC\]bootloader_using_W5100S/bootloader/bootloader THUMB Debug/
/\[STM32F103VC\]bootloader_using_W5100S/bootloader/bootloader THUMB Release/
/\[STM32F103VC\]bootloader_using_W5100S/application/application THUMB Release/
/\[STM32F746NG\]STM32F746G-DISCO/stm32f746g-disco THUMB Debug/
